
@font-face {
  font-family: '8-bit pusab';
  src: url('./assets/8-bit-pusab.ttf');
}

@font-face {
  font-family: '8-BIT WONDER';
  src: url('./assets/8-BIT-WONDER.ttf');
}

html, body {
  height: 100%;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #101224;
  --canvas-width: 1920px;
}

.config-btn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 1;
  opacity: 0.3;
}


.canvas {
  width: var(--canvas-width);
  height: 1080px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.bg {
  background: url('./assets/bg.png');
  background-repeat: repeat-x;
  width: calc(var(--canvas-width) * 2);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;

  animation-duration: 30s;
  animation-delay: 0;
  animation-name: bg-slide;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}

.dropcount {
  background: url('./assets/dropcount.png');
  width: var(--canvas-width);
  height: 1080px;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
}

.dropcount__wrapper {
  text-align: left;
  display: flex;
  width: 560px;
  float: right;
  margin-right: 200px;
  margin-top: 131px;
  height: 70px;
}

.dropcount__numbers {
  color: #fffd38;
  font-family: '8-bit pusab', monospace;
  font-size: 38px;
  width: 95px;
  text-align: center;
  line-height: 85px;
}

.dropcount__text {
  font-family: '8-BIT WONDER', monospace;
  font-size: 48px;
  flex: 1;
  line-height: 70px;
}

@keyframes bg-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}